@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

* {
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    margin: 0;
}

.image-one-part {
    background-image: url('./Images/itachi-uchiha-4k-6s-1920x1080.jpg');
    background-size: cover;
    height: 100vh;
}

nav {
    float: right;
    margin: 40px 40px 40px 40px;
    justify-content: space-between;
}

a {
    margin: 25px;
    text-align: center;
    text-decoration: none;
    color: red;
    font-size: 30px;
}


a:hover {
    color: white;
}

h1 {
    position: relative;
    text-align: left;
    color: red;
    padding-left: 125px;
    padding-top: 125px;
}

header {
    position: relative;
    padding: 0 2rem;
}

.logo {
    margin: 10px 40px 40px 40px;
    width: 5rem;
}




